*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

#left{
    height: 100%;
    width: 40%;
    position: relative;
    /* background-color: yellow; */
}

#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

#lnavr{
    display: flex;
    align-items: center;
}

#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

#lnavr i{
    color: royalblue;
}

#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textcenter h1{
    font-size: 90px;
    font-weight: 900;
    padding-top: 20px;
}

#textcenter p{
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#textcenter a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}

#right{
    height: 100%;
    width: 60%;
    /* background-color: white; */
}

#rtop{
    display: flex;
    height: 50%;
    width: 100%;
    background-color: royalblue;
}

#rbottom{
    height: 50%;
    width: 100%;
    /* background-color: black; */
    background-image: url(https://images.unsplash.com/photo-1619241638225-14d56e47ae64?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#rtopleft{
    height: 100%;
    width: 55%;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1557800636-894a64c1696f?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#rtopright{
    height: 100%;
    width: 45%;
    /* background-color: green; */
    background-image: url(https://images.unsplash.com/photo-1586788224331-947f68671cf1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: bottom;
}

@media (max-width: 768px) {
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }
}